@font-face {
      
  font-family: "mr_PotraLightG"; 
  src: url('19700.ttf'); 
  font-style: normal; 
  font-weight: normal; 
}
body{
  
  font-family: mr_PotraLightG;
  font-size: 20px;
  background: #272727;
}
header{
  
  background-color:#fdd947; 
  height:100px;
  
}
.url{ 
  color:#d5d5d3;
}

.url:hover {
  color:#fdd947;
}

a{
  color:#d5d5d3;
}

a:hover {
  color: #fdd947;
}
table{
  border: 4px double black;
}
th{
  border: 1px solid black;
}
tr{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
#img{
  width:200px; 
  height:140px; 
  
}

#name{
  color:#fdd947;
  font-size: 70px;
}

footer{
  background-color: #fdd947;
  height: 120px;
}

@media all and (orientation: landscape), (min-width: 768px) {
  body{
    font-size: 27px;
  }

  header{
    height:120px;
  }

  #img{ 
    width:210px; 
  height:160px; 
  }
  
  #name{
    color:#fdd947;
    font-size: 100px;
  }

  footer{
    height: 100px;
  }

  h2{
    font-size: 56px;
  }
}
